---
const today = new Date();
---

<footer>
	<div class="text-shenhuilan text-2xl">邮箱：cherishtong@aliyun.com</div>
	<br/>
	<div class="text-shenhuilan">
		&copy; {today.getFullYear()} Zhao Tong. All rights reserved.
	</div>
</footer>
<style>
	footer {
		padding: 25px;
		text-align: center;
		font-family: "ZCOOL XiaoWei", sans-serif;
	}
</style>
