---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header class="flex justify-center lg:my-2 text-caolvbai">
	<nav
		class="w-full lg:w-6/12 h-26 bg-shenhuilan text-white p-3 rounded shadow-xl"
	>
		<div class="text-2xl font-black ">{SITE_TITLE}</div>
		<HeaderLink class="my-3" href="/">主页</HeaderLink>
		<HeaderLink class="mx-2"href="/blog">博客</HeaderLink>
		<HeaderLink href="/about">个人介绍</HeaderLink>
	</nav>
</header>
<style>
	header {
		margin: 0em 0 2em;
	}
	h2 {
		margin: 0.5em 0;
	}
</style>
